[Unit]
Description=Populate overlay tmpfs
Requires=mnt.mount
After=mnt.mount
DefaultDependencies=false

[Service]
ExecStart=/bin/mkdir -p /mnt/overlay/home /mnt/overlay/var /mnt/overlay/workdir/home /mnt/overlay/workdir/var